
## Core latex/pdflatex auxiliary files:

*.aux

*.lof

*.log

*.lot

*.fls

*.out

*.toc

*.fmt

*.fot

*.cb

*.cb2

 

## Intermediate documents:

*.dvi

*-converted-to.*

 

## Bibliography auxiliary files (bibtex/biblatex/biber):

*.bbl

*.bcf

*.blg

*-blx.aux

*-blx.bib

*.run.xml

 

## Build tool auxiliary files:

*.fdb_latexmk

*.synctex

*.synctex(busy)

*.synctex.gz

*.synctex.gz(busy)

*.pdfsync

 

# knitr

*-concordance.tex

 

# makeidx

*.idx

*.ilg

*.ind

*.ist

 

# minitoc

*.maf

*.mlf

*.mlt

*.mtc[0-9]*

*.slf[0-9]*

*.slt[0-9]*

*.stc[0-9]*

 

## Editors:

*.bak

*.sav

 

# auto folder when using emacs and auctex

/auto/*

 

# expex forward references with \gathertags

*-tags.tex

# dossier à ignorer

*_cache/

*_files/

Documents/
Donnees/
Rmarkdown/
Sauvegardes_objet_R.data/
Archives/Arch_données_qPCR
Archives/Arch_données_SPIR
Archives/Arch_Graph
Archives/Arch_Rdata
Graphiques/

# R

.Rproj.user

.Rdata

.Rhistory

_bookdown_files

MyBook.Rmd

.Rbuildignore


